<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>protien items</th>
            <th> protien in grams</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chicken breast</td>
            <td>31g</td>
            <!-- <td>Watermelon</td> -->
          </tr>
          <tr>
            <td>Turkey breast </td>
            <td>26g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td> Salmon</td>
            <td>22g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Tuna</td>
            <td>20g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <!-- Add more rows as needed -->
          <tr>
            <td>Greek yogurt</td>
            <td>17g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Cottage cheese</td>
            <td>14g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Lentils</td>
            <td>9g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Black beans</td>
            <td>8g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Eggs</td>
            <td>6g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Quinoa</td>
            <td>4g</td>
            <!-- <td>Data 6</td> -->
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>high calories food </th>
            <th> calories in grams</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Granola</td>
            <td>400-500kcl</td>
            <!-- <td>Watermelon</td> -->
          </tr>
          <tr>
            <td> Avocado</td> 
            <td>240kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td> Fatty cuts of meat</td>
            <td>200-300kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Fatty fish</td>
            <td>180-220kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <!-- Add more rows as needed -->
          <tr>
            <td>Nuts and nut butters</td>
            <td>160-200kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Dark chocolate</td>
            <td>150-170kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Dried fruits</td>
            <td>100-130kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Whole milk</td>
            <td>150kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Olive oil</td>
            <td>120kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Cheese</td>
            <td>100-120kcl</td>
            <!-- <td>Data 6</td> -->
          </tr>
        </tbody>
      </table>
      
      <table>
        <thead>
          <tr>
            <th> food </th>
            <th> calories in grams</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lentils (Dal)</td>
            <td>18g</td>
            <!-- <td>Watermelon</td> -->
          </tr>
          <tr>
            <td> Chickpeas (Chana)</td> 
            <td>15g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Paneer (Indian Cottage Cheese)</td>
            <td>18g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Soybeans (Soya)</td>
            <td>29g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <!-- Add more rows as needed -->
          <tr>
            <td>Moong Beans (Green Gram)</td>
            <td>14g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Toor Dal (Pigeon Peas)</td>
            <td>15g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Quinoa</td>
            <td>8g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Tofu</td>
            <td>8g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td>Soy Milk</td>
            <td>7g</td>
            <!-- <td>Data 6</td> -->
          </tr>
          <tr>
            <td> Almonds</td>
            <td>6g</td>
            <!-- <td>Data 6</td> -->
          </tr>
        </tbody>
      </table>
    </body>
</html>
</body>





 


